# Almacenamiento y tratamiento de conjunto de datos

In [63]:
import pandas as pd

productos = pd.read_csv('../raw/scrap_cav/productos.csv') 
meridaje = pd.read_csv('../raw/meridaje.csv')
ranking = pd.read_csv('../raw/brand_shopper_rank.csv')

In [64]:
import sqlite3

conn = sqlite3.connect("../wine_db.db")
productos.to_sql("productos", conn, if_exists="replace", index=False)
meridaje.to_sql("meridaje", conn, if_exists="replace", index=False)
ranking.to_sql("ranking", conn, if_exists="replace", index=False)

3604

In [65]:
query = """
SELECT *
FROM productos
JOIN meridaje
ON productos.variante = meridaje.variante
LEFT JOIN ranking
ON productos.brand = ranking.brand
;
"""

df = pd.read_sql_query(query, conn)

conn.close()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44500 entries, 0 to 44499
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   URL                     44500 non-null  object
 1   ID del producto         44500 non-null  int64
 2   SKU del producto        44500 non-null  int64
 3   Nombre del producto     44500 non-null  object
 4   brand                   44500 non-null  object
 5   Categoría del producto  44500 non-null  object
 6   variante                44500 non-null  object
 7   Precio del producto     44500 non-null  int64
 8   Puntaje de La Cav       44500 non-null  object
 9   Descripción             25755 non-null  object
 10  Precio Socio            44500 non-null  object
 11  Precio Normal           44500 non-null  object
 12  Stock                   44500 non-null  object
 13  URL de la imagen        44500 non-null  object
 14  Viña                    44500 non-null  object
 15  Cepa                    44500 non-null  object
 16  Cosecha                 42918 non-null  float64
 17  Procedencia             44500 non-null  object
 18  Línea                   44500 non-null  object
 19  Formato                 44500 non-null  object
 20  Tipo                    44500 non-null  object
 21  Alcohol                 11519 non-null  object
 22  Mezcla                  11519 non-null  object
 23  Guarda                  11519 non-null  object
 24  Maridaje                27345 non-null  object
 25  Cuerpo                  11519 non-null  float64
 26  Frescor                 11519 non-null  float64
 27  Dulzura                 11519 non-null  float64
 28  Astringencia            11519 non-null  float64
 29  variante                44500 non-null  object
 30  meridaje                44500 non-null  object
 31  brand                   25331 non-null  object
 32  gender                  25331 non-null  object
 33  age                     25331 non-null  object
 34  ses                     25331 non-null  object
 35  rank                    25331 non-null  float64
dtypes: float64(6), int64(3), object(27)
memory usage: 12.2+ MB

In [68]:
df = df.loc[:, ~df.columns.duplicated()]

df.columns

Index(['URL', 'ID del producto', 'SKU del producto', 'Nombre del producto',
       'brand', 'Categoría del producto', 'variante', 'Precio del producto',
       'Puntaje de La Cav', 'Descripción', 'Precio Socio', 'Precio Normal',
       'Stock', 'URL de la imagen', 'Viña', 'Cepa', 'Cosecha', 'Procedencia',
       'Línea', 'Formato', 'Tipo', 'Alcohol', 'Mezcla', 'Guarda', 'Maridaje',
       'Cuerpo', 'Frescor', 'Dulzura', 'Astringencia', 'meridaje', 'gender',
       'age', 'ses', 'rank'],
      dtype='object')

# Analisis descriptivo